<!-- Begin view info -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Tropicana Sacklunch - Home {% endblock %}
<!-- End view info -->

<!-- Begin FirstForm content -->
{% block content %}
<form action="{{action}}" method="post">
{% csrf_token %}
{{form.owner}}
<div>
<table align='center'>
{% for field in form %}
    {% if field.label != "Owner" %}
    	{% if field.label != "Orderid" %}
    
        <tr><td style="text-align: left;">{{field.label}}</td><td style="text-align:right;">{{ field }}</td></tr>
    	{% endif %}
    {% endif %}
{% endfor %}
</table>
</div>
<input type="submit" value="Submit">
{% endblock %}
<!-- End FirstForm content -->