/* Core */
a {
  color: inherit;
  text-decoration: none;
}

/* Body */
body {
  margin: 0;
  font-size: 16px;
  font: 14px/1.4 "Open Sans", sans-serif;
  background: #E3DFD3;
  text-align: center;
}

/* Header */
header {
  width: 100%;
  height: 60px;
  background: #383838;
  color: #D6613A;
  text-align: left;
}

#header-logo {
  width: 50px;
  height: 50px;
  fill: #D6613A;
  padding-top: 6px;
}

#header-title {
  font-size: 24px;
  padding-left: 7px;
}

#header-left {
  position: absolute;
  left: 20px;
}

.header-inline {
  display: table-cell;
  vertical-align: middle;
}

/* Footer */
footer {
  background: #383838;
  color: #D6613A;
  padding: 10px;
}
